#this is git ignore file

g2o_with_orbslam2/*
ORB_SLAM2_modified/Thirdparty/DBoW2/
ORB_SLAM2_modified/Thirdparty/g2o/
ORB_SLAM2_modified/Thirdparty/Pangolin/
ORB_SLAM2_modified/Dataset/*
ORB_SLAM2_modified/build/*
ORB_SLAM2_modified/Examples/
ORB_SLAM2_modified/lib/*
ORBvoc.txt

ORB_SLAM2_modified/CMakeLists.txt
ORB_SLAM2_modified/CameraTrajectory.txt
ORB_SLAM2_modified/Examples/Monocular/mono_kitti
ORB_SLAM2_modified/Examples/Monocular/mono_tum
ORB_SLAM2_modified/Examples/RGB-D/rgbd_my
ORB_SLAM2_modified/Examples/RGB-D/rgbd_tum
ORB_SLAM2_modified/Examples/Stereo/stereo_kitti
.vscode/*

*.pcd
pcl/*
kfinfo.txt

